[data-oem="Accordion"] {
  margin:0;
  padding:0;
}

[data-oem="Accordion"] dt {
  margin:0;
  line-height:40px;
  padding:10px;
  background-color: #000000;
  color: #FFF;
  cursor:pointer;
}

[data-oem="Accordion"] dt:hover {
  background-color: #000000;
}

[data-oem="Accordion"] dd {
  margin:0;
  padding:0px 10px;
  height:0;
  overflow:hidden;
  transition:all 0.25s;
  border-bottom:1px solid #FFFFFF;
}

[data-oem="Accordion"] dd.expanded {
  padding:10px;
  height:auto;
  overflow:visible;
  transition:all 0.25s;
}