<h2>Example</h2>
<div data-oem="Slider">
    <div class="__slide">
        <img class="__image" src="http://placehold.it/500x250?text=One">
        <div class="__caption">One</div>
    </div>
    <div class="__slide">
        <img class="__image" src="http://placehold.it/500x250?text=Two">
        <div class="__caption">Two</div>
    </div>
    <div class="__slide">
        <img class="__image" src="http://placehold.it/500x250?text=Three">
        <div class="__caption">Three</div>
    </div>
    <a class="__next">&#10095;</a>
    <a class="__prev">&#10094;</a>
</div>