[data-oem="Button"],
[data-oem-class="Button"] {
    font-size: 12px;
    display: inline-block;
    padding: 5px 15px;
    background-color: black;
    color: white;
    border:none;
    border-radius: 3px;
    line-height:24px;
    cursor:pointer;
}

[data-oem="Button"].--hollow,
[data-oem-class="Button"].--hollow {
    background-color: transparent;;
    border: 1px solid black;
    color: black;
}
[data-oem="Form"] fieldset{
    margin:0 0 10px 0;
    padding:0;
    border:0;
}

input {
    width:100%;
    font-size: 12px;
    padding:10px 0;
    text-indent:10px;
    border:1px solid  black;
    border-radius: 2px;
}

/*(function(THEME) {

    THEME.FORM_FIELD_INPUT = {
        selector: " > input";
        declaration: {
            "width":"100%",
            "font-size": THEME.Config.FONT_SIZE_MEDIUM + "px",
            "padding":"10px 0",
            "text-indent":"10px",
            "border":"1px solid " + THEME.Config.FORM_FIELD_BORDER_COLOR,
            "border-radius": "2px"
        }
    };
    
    THEME.FORM_FIELD_HELP = {
        selector: " .help",
        declaration: {
            "font-size": THEME.Config.FONT_SIZE_SMALL + "px",
            "opacity": 0.6,
            "margin": "0 0 5px"
        }
    };

    THEME.FORM_FIELD_LABEL = {
        selector: " label",
        declaration: {
            "font-size": THEME.Config.FONT_SIZE_MEDIUM + "px",
            "margin": "10px 0"
        }
    };

    return THEME;

})(oem.Components.Theme);*/
[data-oem="TextInput"]  {
}
[data-oem="Validator"] {
    display: none;
    font-size: 12px;
    margin: 10px 0;
    color: red;
}