<h2 class="oem">Example</h2>

<form id="exampleForm" class="oem-form">

    <div id="firstName" class="oem-text-input">
        <label for="firstName">First Name</label>
        <div class="help">
            Please enter your first name
        </div>
        <input type="text" name="firstName" placeholder="First Name" />
        <ul class="errors"></ul>
        <div class="validations">
            <div data-validation="minLength" data-settings="3">First name must be at least 3 Characters</div>
            <div data-validation="maxLength" data-settings="6">First name must be less than 6 Characters</div>
        </div>
    </div>

    <div id="lastName"  class="oem-text-input">
        <label for="firstName">Last Name</label>
        <div class="help">
            Please enter your last name
        </div>
        <input type="text" name="lastName" placeholder="Last Name" />
        <ul class="errors"></ul>
        <div class="validations">
            <div data-validation="minLength" data-settings="1">Last name must be at least 1 Characters</div>
        </div>
    </div>

    <button id="submitForm" class="oem-button submit">Submit</button>
    <button id="resetForm" class="oem-button" type="reset">Reset</button>
    
</form>