<h2 class="oem">Usage</h2>

<h3 class="oem">Html</h3>
<textarea class="demoHtml">

<form 
    data-oem="Form"
    data-oem-id="basicForm"
    data-oem-submit-button="submitBasicForm">

<div 
    data-oem="TextInput"
    data-oem-id="firstName"
    data-oem-name="firstName"
    data-oem-label="First Name"
    data-oem-placeholder="First Name"
    data-oem-value="Kevin"
    data-oem-help="Please enter your first name"
    data-oem-validate-min-length="3|First name must be at least 3 chars long"
    data-oem-validate-max-length="6">
</div>

<div 
    data-oem="TextInput"
    data-oem-id="lastName"
    data-oem-name="lastName"
    data-oem-label="Last Name"
    data-oem-placeholder="Last Name"
    data-oem-value="Lint"
    data-oem-help="Please enter your last name"
    data-oem-validate-min-length="3"
    data-oem-validate-max-length="6">
</div>

<button data-oem-id="submitBasicForm" data-oem="Button" data-oem-style="normal">Submit</button>

<button data-oem-id="resetBasicForm" data-oem="Button" data-oem-style="normal" type="reset">Reset</button>
    
</form>

</textarea>