<h2 class="oem">Usage</h2>

<h3 class="oem">Html</h3>

<pre>
<code data-language="html">
<form 
    data-oem="Form"
    data-oem-id="basicFormExample"
    data-oem-submit-button="submitBasicForm">

    <div 
        data-oem="TextInput"
        data-oem-id="firstNameExample"
        data-oem-form="basicFormExample">
        <label for="firstName">First Name</label>
        <div class="help">This is an example of a text input field</div>
        <input type="text" name="firstName" placeholder="First Name" value="Kevin"></input>
    </div>

    <div 
        data-oem="Validator"
        data-oem-id="valMinExample"
        data-oem-form="basicFormExample"
        data-oem-field="firstNameExample"
        data-oem-validation="minLength"
        data-oem-args="3">First name must be at least 3 chars long</div>

    <div 
        data-oem="Validator"
        data-oem-id="valMaxExample"
        data-oem-form="basicFormExample"
        data-oem-field="firstNameExample"
        data-oem-validation="maxLength"
        data-oem-args="6">First name must be less than 6 chars long</div>

    <button 
        data-oem-id="submitBasicFormExample" 
        data-oem="SubmitButton"
        data-oem-form="basicFormExample"
        type="submit">Submit</button>

    <button 
        data-oem-id="resetBasicFormExample" 
        data-oem="Button" 
        data-oem-style="normal" 
        type="reset">Reset</button>
    
</form>
</code>
</pre>
