<h2 class="oem">Usage</h2>

<h3 class="oem">Html</h3>
<textarea class="demoHtml">

<form 
    data-oem="Form"
    data-oem-id="basicForm"
    data-oem-submit-button="submitBasicForm">

<div 
    data-oem="TextInput"
    data-oem-id="firstName"
    data-oem-validate-on-change="true"
    data-oem-validate-min-length="3|First name must be at least 3 chars long"
    data-oem-validate-max-length="6">

<label for="firstName">First Name</label>

<div class="help">Please enter your first name</div>

<input type="text" name="firstName" placeholder="First Name" value="Kevin"></input>

<ul class="errors"></ul>

</div>

<div 
    data-oem="TextInput"
    data-oem-id="lastName"
    data-oem-validate-on-change="true"
    data-oem-validate-min-length="3"
    data-oem-validate-max-length="6">

<label for="lastName">Last Name</label>

<div class="help">Please enter your last name</div>

<input type="text" name="lastName" placeholder="Last Name" value="Lint"></input>

<ul class="errors"></ul>

</div>

<div 
    data-oem="Toggle"
    data-oem-id="yesOrNo"
    data-oem-validate-required>

<label for="firstName">Do you like fish?</label>

<div class="help">Yes or No!?</div>

<input type="checkbox" name="fishLiker">

<ul class="errors"></ul>
</div>

<button data-oem-id="submitBasicForm" data-oem="Button" data-oem-style="normal">Submit</button>

<button data-oem-id="resetBasicForm" data-oem="Button" data-oem-style="normal" type="reset">Reset</button>
    
</form>

</textarea>