[data-oem="Progress"] {
    background-color: #e2e2e2;
    border-radius: 5px;
    height: 20px;
    width: 100%;
}

[data-oem="Progress"] .__bar {
    background-color: #000000;
    border-radius: 5px;
    height: 20px;
    width: 0%;
}