<h2>Example</h2>

<div data-oem="Theme" data-oem-id="Theme"></div>

<form 
    data-oem="Form"
    data-oem-id="basicForm">

    <fieldset>
        <div 
            data-oem="TextInput"
            data-oem-id="firstName"
            data-oem-form="basicForm">
            <label for="firstName">First Name</label>
            <div class="help">This is an example of a text input field</div>
            <input type="text" name="firstName" placeholder="First Name" value="Kevin"></input>
            <div 
                data-oem="Validator"
                data-oem-id="valMinFirstName"
                data-oem-field="firstName"
                data-oem-validation="minLength"
                data-oem-args="len:3">First name must be at least 3 chars long</div>
            <div 
                data-oem="Validator"
                data-oem-id="valMaxFirstName"
                data-oem-field="firstName"
                data-oem-validation="maxLength"
                data-oem-args="len:6">First name must be less than 6 chars long</div>
        </div>
    </fieldset>

    <fieldset>
        <div 
            data-oem="Textarea" 
            data-oem-id="textarea"
            data-oem-form="basicForm">
            <label for="exampleTextarea">Biography</label>
            <div class="help">Please enter the story of your life</div>
            <textarea name="exampleTextarea" placeholder="...text..."></textarea>
            <div 
                data-oem="Validator"
                data-oem-id="valMinTextarea"
                data-oem-field="textarea"
                data-oem-validation="minLength"
                data-oem-args="len:3">Sorry, you're life story must be greater than 3 characters long!</div>
        </div>
    </fieldset>

    <fieldset>
        <div 
            data-oem="Select" 
            data-oem-id="select"
            data-oem-form="basicForm">
            <label for="exampleSelect">Country</label>
            <div class="help">Specify your country</div>
            <div class="--wrapper">
                <select name="exampleSelect">
                    <option value="US" selected>USA</option>
                    <option value="XX">XX</option>
                </select>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div 
            data-oem="Checkbox"
            data-oem-id="exampleCheckBox">
            <label>Are you a citizen?</label>
            <input type="checkbox" name="exampleCheckbox"/>
        </div>
    </fieldset>

     <fieldset>
        <div 
            data-oem="Toggle"
            data-oem-id="exampleToggle">
            <label>Sign me up for notification</label>
            <input type="checkbox" name="exampleToggle"/>
        </div>
    </fieldset>

    <fieldset>
        <button 
            data-oem="SubmitButton"
            data-oem-class="Button"
            data-oem-id="submitBasicForm" 
            data-oem-form="basicForm"
            type="submit">Submit</button>

        <button 
            data-oem="Button"
            data-oem-class="Button"
            data-oem-id="resetBasicForm" 
            class="--hollow"
            type="reset">Reset</button>

    </fieldset>
</form>