<!-- Card Component -->
<h1 id="TextInput" class="oem">TextInput</h1>

<h2 class="oem">Example</h2>
<div class="oem-text-input">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" placeholder="First Name" />
    <div class="help"></div>
    <ul class="errors"></ul>
    <div class="validations">
        <div data-validation="minLength" data-settings="3">First name must be at least 3 Characters</div>
        <div data-validation="maxLength" data-settings="6">First name must be less than 6 Characters</div>
    </div>
</div>

<h2 class="oem">Structure</h2>
<h2 class="oem">Behaviors</h2>

<h2 class="oem">Tests</h2>
<div class="oem-text-input-test test"></div>

<h2 class="oem">Usage</h2>

<h3 class="oem">Html</h3>
<textarea class="demoHtml">
<div class="oem-text-input">
</div>
</textarea>

<h3 class="oem">Css</h3>
<h3 class="oem">Js</h3>
