[data-oem-test] {
    margin:20px 0px;
    font-size:14px;
}

[data-oem-test] .test-pass:before {
    content:"\2713 \0020";
    color:green;
}

[data-oem-test] .test-fail:before {
    content:"\2717 \0020";
    color: red;
}
