[data-oem-test] {
    margin:0px;
    font-size:14px;
}

[data-oem-test] li, 
[data-oem-test] ul {
    list-style: none;
    margin:0;
    padding:0;
}

[data-oem-test] .test-pass:before {
    content:"\2713 \0020";
    color:green;
}

[data-oem-test] .test-fail:before {
    content:"\2717 \0020";
    color: red;
}
