<h2 class="oem">Example</h2>

<div 
    data-oem="TextInput"
    data-oem-id="firstName"
    data-oem-field-label="First Name"
    data-oem-field-help="Please enter your first name"
    data-oem-field-validate-minLength="3"
    data-oem-field-validate-maxLength="6">
</div>

<div id="firstName" data-oem="TextInput">
    <label for="firstName">First Name</label>
    <div class="help">
        Please enter your first name
    </div>
    <input type="text" name="firstName" placeholder="First Name" />
    <ul class="errors"></ul>
    <div class="validations">
        <div data-validation="minLength" data-settings="3">First name must be at least 3 Characters</div>
        <div data-validation="maxLength" data-settings="6">First name must be less than 6 Characters</div>
    </div>
</div>