<h2 class="oem">Usage</h2>
<h3 class="oem">Html</h3>
<textarea class="demoHtml">
<div 
    data-oem="TextInput"
    data-oem-id="firstName"
    data-oem-name="firstName"
    data-oem-label="First Name"
    data-oem-placeholder="First Name"
    data-oem-value="Kevin"
    data-oem-help="Please enter your first name"
    data-oem-validate-min-length="3|First name must be at least 3 chars long"
    data-oem-validate-max-length="6">
</div>
</textarea>

<h3 class="oem">Rendered Html</h3>
<p class="oem">The html tag above becomes a wrapper to the following rendered html</p>
<textarea class="demoHtml">
<label for="firstName">First Name</label>
<div class="help">Please enter your first name</div>
<input type="text" name="firstName" placeholder="First Name"></input>
<ul class="errors"></ul></div>
</textarea>