<h2>Usage</h2>

<h3>Html</h3>
<pre>
<code data-language="html">
<div 
    data-oem="Grid" 
    data-oem-id="grid-example"
    data-breakpoint-mobile="width|0|300"
    data-breakpoint-desktop="width|300|*">
    <div class="row">
        <div class="col">1</div>
    </div>
    <div class="row">
        <div class="col">1</div>
        <div class="col">2</div>
    </div>
    <div class="row">
        <div class="col">1</div>
        <div class="col">2</div>
        <div class="col">3</div>
    </div>
</div>
</code>
</pre>