<!-- Card Component -->
<img class="oem logo" src="./oem/logo.png"/>
<h1 id="Card" class="oem">Card</h1>
<p class="oem">A card displays site content in a manner similar to a playing card</p>

<h2 class="oem">Example</h2>
<div class="oem-card">
    <div>Header</div>
    <div>Body</div>
    <div>Footer</div>
</div>

<h2 class="oem">Structure</h2>
<dl class="oem">
  <dt>Header</dt>
  <dd>Title block for card</dd>
</dl>

<h2 class="oem">Behaviors</h2>

<h2 class="oem">Tests</h2>
<div class="oem-card-test test"></div>

<h2 class="oem">Usage</h2>

<h3 class="oem">Html</h3>
<textarea class="demoHtml">
<div class="oem-card">
    <div>Header</div>
    <div>Body</div>
    <div>Footer</div>
</div>
</textarea>

<h3 class="oem">Css</h3>
<div class="oem-card-doc doc css"></div>

<h3 class="oem">Js</h3>
<div class="oem-card-doc doc js"></div>
