<!-- Card Component -->
<h1 id="Card" class="oem">Card</h1>

<h2 class="oem">Example</h2>
<div class="th-card">
    <div>Header</div>
    <div>Body</div>
    <div>Footer</div>
</div>

<h2 class="oem">Structure</h2>

<h2 class="oem">Behavior</h2>

<h2 class="oem">Test</h2>
<div class="th-card-test test"></div>

<h2 class="oem">Usage</h2>

<h3 class="oem">Html</h3>
<div class="th-card-doc doc html">
<pre>
<code data-language="html">
<div class="th-card">
<div>Header</div>
<div>Body</div>
<div>Footer</div>
</div>
</code>
</pre>
</div>

<h3 class="oem">Css</h3>
<div class="th-card-doc doc css"></div>

<h3 class="oem">Js</h3>
<div class="th-card-doc doc js"></div>
