<h2>Example</h2>

<section data-oem-id="accordion" data-oem="Accordion">
    <div>
      <input id="ac-1" name="accordion-1" type="radio" checked="">
      <label for="ac-1">Label one</label>
      <article>
        <p>Article one</p>
      </article>
    </div>
    <div>
      <input id="ac-2" name="accordion-1" type="radio">
      <label for="ac-2">Label two</label>
      <article>
        <p>Article two</p>
      </article>
    </div>
    <div>
      <input id="ac-3" name="accordion-1" type="radio">
      <label for="ac-3">Label three</label>
      <article>
        <p>Article three</p>
      </article>
    </div>
  </section>