<h2>Example</h2>

<section data-oem-id="accordion" data-oem="Accordion">
    <div>
        <input id="one" name="accordion-1" type="radio">
        <label for="one">Label one</label>
        <article>
            <p>Article one</p>
        </article>
    </div>
    <div>
        <input id="two" name="accordion-1" type="radio">
        <label for="two">Label two</label>
        <article>
            <p>Article two</p>
        </article>
    </div>
    <div>
        <input id="three" name="accordion-1" type="radio">
        <label for="three">Label three</label>
        <article>
            <p>Article three</p>
        </article>
    </div>
</section>