<h2>Example</h2>
<div data-oem="DataTable" data-oem-id="exampleDataTable">
    <h3>Users Table</h3>
    <table>

        <thead>
            <tr>
               <th data-oem-sort-by="INTEGER" scope="col">ID</th>
               <th data-oem-sort-by="ALPHA" scope="col">First</th>
               <th scope="col">Last</th>
               <th data-oem-sort-by="DATE" scope="col">DOB</th>
            </tr>
        </thead>

        <tbody>
            <tr>
               <td scope="row">1</td>
               <td>Billy</td>
               <td>Bob</td>
               <td>01/02/75</td>
            </tr>

            <tr>
               <td scope="row">2</td>
               <td>Cathy</td>
               <td>Cole</td>
               <td>01/02/85</td>
            </tr>

            <tr>
               <td scope="row">3</td>
               <td>David</td>
               <td>Davidson</td>
               <td>01/02/95</td>
            </tr>
        </tbody>

    </table>
</div>