<h2>Example</h2>
<p>See the <em>Form</em> component for integration examples.</p>

<h3> Basic Input </h3>
<div 
    data-oem="TextInput" 
    data-oem-id="TextInput">
    <label for="exampleTextInput">First Name</label>
    <div class="help">Please enter your first name</div>
    <input type="text" name="exampleTextInput" placeholder="First Name"></input>
</div>

<h3>Masked Input</h3>
<div 
    data-oem="TextInput" 
    data-oem-id="MaskedTextInput"
    data-oem-mask="XXX-XXX-XXXX">
    <label for="exampleMaskTextInput">Phone Number</label>
    <div class="help">Please enter your primary contact number</div>
    <input type="text" name="exampleMaskTextInput" placeholder="XXX-XXX-XXXX"></input>
</div>