<h2>Example</h2>
<p>The following field will have the class "--hollow" added to it when it's width is <= 360.</p>

<div id="exampleContainer">
    <button 
        data-oem="Button"
        data-oem-id="ExampleComponent">Normal</button>
</div>

<div 
    data-oem="Responsifier" 
    data-oem-id="responsifierExample"
    data-oem-component="ExampleComponent"
    data-oem-container="exampleContainer"
    data-oem-responsive-class="--hollow"
    data-oem-dimension="width"
    data-oem-min="0"
    data-oem-max="360"></div>