<!-- Card Component -->
<img class="oem logo" src="./oem/logo.png"/>
<h1 id="Accordion" class="oem">Accordion</h1>

<h2 class="oem">Example</h2>
<dl class="oem-accordion">
    <dt>Topic A</dt>
    <dd>A Contents</dd>
    <dt>Topic B</dt>
    <dd>B Contents</dd>
    <dt>Topic C</dt>
    <dd class='expanded'>C Contents</dd>
</dl>

<h2 class="oem">Structure</h2>
<h2 class="oem">Behaviors</h2>

<h2 class="oem">Tests</h2>
<div class="oem-accordion-test test"></div>

<h2 class="oem">Usage</h2>

<h3 class="oem">Html</h3>
<textarea class="demoHtml">
<dl class="oem-accordion">
    <dt>Topic A</dt>
    <dd>A Contents</dd>
    <dt>Topic B</dt>
    <dd>B Contents</dd>
    <dt>Topic C</dt>
    <dd>C Contents</dd>
</dl>
</textarea>

<h3 class="oem">Css</h3>
<h3 class="oem">Js</h3>
