[data-oem="Button"],
[data-oem-class="Button"] {
    font-size: 12px;
    display: inline-block;
    padding: 5px 15px;
    background-color: black;
    color: white;
    border:none;
    border-radius: 3px;
    line-height:24px;
    cursor:pointer;
}

[data-oem="Button"].--hollow,
[data-oem-class="Button"].--hollow {
    background-color: transparent;;
    border: 1px solid black;
    color: black;
}